<script async="" src="https://www.google-analytics.com/analytics.js"></script>
<script type="text/javascript" async="" src="https://websdk.fastbooking-services.com/widgets/app.js"></script>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no">

<title>Activities at the Barrière hotels : Golf, Casino, Thalasso, pool, gym, tennis, golf, horse riding,...</title>
<link rel="stylesheet" href="/etc/designs/companyproject/clientlib-all/css.css" type="text/css">
<!-- FAST BOOKING -->
<link rel="stylesheet" href="https://staticaws.fbwebprogram.com/glb-calendar/barriere.css">

<style type="text/css">.comparator{
 		display: none;
}</style>
<script type="text/javascript" src="//client.linkeo.com/_RESSOURCES/_INTEGRATIONS/bouton-cal.js"></script>
<link rel="stylesheet" href="//client.linkeo.com/lucienbarriere.com/prod/pack-wcb/css/LnkWcb.css" type="text/css" media="screen">
<link rel="stylesheet" href="//wcb.linkeo.com/2.5.0/dist/js/lib/ui-datepicker-1.8.4/css/smoothness/jquery-ui-1.8.4.datepicker.css" media="screen">
