<script async="" src="https://www.google-analytics.com/analytics.js"></script>
<script type="text/javascript" async="" src="https://websdk.fastbooking-services.com/widgets/app.js"></script>
<script src="https://dcinfos.abtasty.com/cabestan/web/index.php/api/nirror/check_daily_quota/573ef154771ada103c154def6624bed5?callback=getNirrorQuota&amp;timestamp=1521687788465"></script>
<script src="https://dcinfos.abtasty.com/geolocAndWeather.php?chID=573ef154771ada103c154def6624bed5&amp;weather=false&amp;dmp=false&amp;vID=18031613175759467&amp;callback=DCInfosCallback"></script>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="format-detection" content="telephone=no">

<title>Activities at the Barrière hotels : Golf, Casino, Thalasso, pool, gym, tennis, golf, horse riding,...</title>
<meta name="description" content="Activities at the Barrière hotels : Golf, Casino, Thalasso, pool, gym, tennis, golf, horse riding,...">
<meta name="author" content="Barriere Group">
<meta property="og:title" content="Activities at the Barrière hotels : Golf, Casino, Thalasso, pool, gym, tennis, golf, horse riding,...">
<meta property="og:type" content="website">
<meta property="og:image" content="https://www.hotelsbarriere.com/etc/designs/hotelsbarriere/clientlib-all/img/layout/groupe-barriere-1200x630.jpg">
<meta property="og:url" content="https://www.hotelsbarriere.com/en/our-activities.html">
<meta property="og:description" content="Activities at the Barrière hotels : Golf, Casino, Thalasso, pool, gym, tennis, golf, horse riding,...">
<meta property="og:locale" content="en_GB">
<meta property="og:site_name" content="Hotels Barriere">
<link rel="canonical" href="https://www.hotelsbarriere.com/en/our-activities.html">
<link rel="icon" type="image/x-icon" href="/etc/designs/companyproject/clientlib-all/img/data/favicon.ico">
<link rel="stylesheet" href="/etc/designs/companyproject/clientlib-all/css.css" type="text/css">
<!-- FAST BOOKING -->
<link rel="stylesheet" href="https://staticaws.fbwebprogram.com/glb-calendar/barriere.css">

<script src="//assets.adobedtm.com/8f089fa2b80a8878a2563a60621f48cbe527a07d/satelliteLib-e86b6720bafa8e709c55f9fc80270039d08d0632.js"></script>
<script src="https://assets.adobedtm.com/8f089fa2b80a8878a2563a60621f48cbe527a07d/scripts/satellite-58f0820364746d1237001a17.js"></script>
<script src="https://assets.adobedtm.com/8f089fa2b80a8878a2563a60621f48cbe527a07d/scripts/satellite-58a3293a64746d0472004edc.js"></script>
<script src="https://assets.adobedtm.com/8f089fa2b80a8878a2563a60621f48cbe527a07d/scripts/satellite-5a14471764746d153a00b2eb.js"></script>
<script async="" defer="" src="//c.vepxl1.net/4-16429.js?id=16429&amp;m=4"></script>
<script src="//try.abtasty.com/573ef154771ada103c154def6624bed5.js" type="text/javascript"></script>
<style type="text/css">.comparator{
 		display: none;
}</style>
<meta name="google-site-verification" content="SYMUBktTKEV_PDcKbSNB2jLjBanfJYv4jHwdWrynApw"> 
   <script type="text/javascript">
       var digitalData = digitalData || {};
       digitalData = {
           page: {
               pagename: "/content/companyproject/activitiespage.html",
               langue: "en",
               repertoire: ""
           },

           clic: {
               category: "",
               label: "",
               url: ""
           },

           hotel: {
               nom_hotel: "",
               listeactivites: "",
               listeprestations: ""
           },

           reservation_hotel: {
               destination: "",
               nom_hotel: "",
               date_debut: "",
               date_arrivee: "",
               duree_sejour: "",
               nombre_chambres: "",
               nombre_personnes: "",
               type_chambre: "",
               code_promo: ""
           },

           reservation_annexe: {
               nom_hotel: "",
               restaurant: "",
               spa: ""
           },

           demande_cotations: {
               nom_hotel: "",
               reservation: "",
               destination: ""
           },

           acces_sejour_offres: {
               nom_hotel: "",
               nom_offre: "",
               reservation: ""
           },

           reservation_coffrets_cadeaux: {
               nom_hotel: "",
               nom_coffret: "",
               reservation: ""
           },

           newsletter: {
               type_inscription: ""
           },

           meilleurprixgaranti: {
               sexe: "",
               url: "",
               montant_resa: "",
               montant_resa_constate: "",
               montant_ecart: "",
               objet: "",
               type_chambre: "",
               nom_hotel: "",
               date_arrivee: "",
               date_depart: "",
               numero_resa: "",
               nuits: ""
           },
           reservation_reunions: {
               destination: ""
           }
       };
   </script>
<script type="text/javascript" src="//client.linkeo.com/_RESSOURCES/_INTEGRATIONS/bouton-cal.js"></script>
<script src="https://assets.adobedtm.com/8f089fa2b80a8878a2563a60621f48cbe527a07d/s-code-contents-ba2a3ba5a7ac87e1cdaf01efd91df732d7d9f677.js"></script>
<script async="" src="//c.flx1.com/flx1-jquery/1.11.2-20170607.min.js"></script>
<script async="" defer="" src="//go.flx1.com/px?id=16429&amp;m=4&amp;r=https%3A%2F%2Fapps.pycogroup.com%2Fdocs%2Fdisplay%2FTRAINING%2F2018-03-19%2B-%2BAEM%2B6.0%2BTraining%2B-%2BTong%2BPham&amp;eurl=https%3A%2F%2Fwww.hotelsbarriere.com%2Fen%2Four-activities.html&amp;rndm=5483686249274402"></script>
<script async="" defer="" src="//go.flx1.com/ia?id=16429&amp;m=4&amp;itst=16053&amp;it=15&amp;r=https%3A%2F%2Fapps.pycogroup.com%2Fdocs%2Fdisplay%2FTRAINING%2F2018-03-19%2B-%2BAEM%2B6.0%2BTraining%2B-%2BTong%2BPham&amp;eurl=https%3A%2F%2Fwww.hotelsbarriere.com%2Fen%2Four-activities.html&amp;rndm=7561025951098073"></script>
<link rel="stylesheet" href="//client.linkeo.com/lucienbarriere.com/prod/pack-wcb/css/LnkWcb.css" type="text/css" media="screen">
<link rel="stylesheet" href="//wcb.linkeo.com/2.5.0/dist/js/lib/ui-datepicker-1.8.4/css/smoothness/jquery-ui-1.8.4.datepicker.css" media="screen">
<script>
 	try { window.flx1._instances['16429'].jQuery(function($) {var axel = Math.random() + "";
	var aFlx = axel * 10000000000000;
	var tag2 = document.createElement("iframe");
	var pixtag2 = document.createAttribute("src");
	pixtag2.value = "//pixel.mathtag.com/event/js?mt_id=1213046&mt_adid=185125&mt_exem=&mt_excl=&v1=&v2=&v3=&s1=&s2=&s3=" + aFlx +"?";
	tag2.setAttributeNode(pixtag2);
	var tagtype2 = document.createAttribute("type");
	tagtype2.value = "text/javascript";
	tag2.setAttributeNode(tagtype2);
	
	var tagWidth = document.createAttribute("width");
	var tagHeight = document.createAttribute("height");
	var tagFrameborder = document.createAttribute("frameborder");
	var tagStyle = document.createAttribute("style");
	tagWidth.value = "1";
	tagHeight.value = "1";
	tagFrameborder.value = "0";
	tagStyle.value = "display:none";
	
	tag2.setAttributeNode(tagWidth);
	tag2.setAttributeNode(tagHeight);
	tag2.setAttributeNode(tagFrameborder);
	tag2.setAttributeNode(tagStyle);
	
	document.body.appendChild(tag2)
	
	}) } catch(e) { if (window.flx1._instances['16429'].debug()) { window.flx1._instances['16429'].log(e); } }
</script>
<script type="text/javascript" id="407340213504" src="https://wcb.linkeo.com/extranet/bouton/estOuvert/LUCIENBARR0001?callback=LnkWcb.Boutons%5B%22744974339457%22%5D.reponseEstOuvert&amp;scriptId=407340213504"></script>
<script async="" defer="" src="//go.flx1.com/ia?id=16429&amp;m=4&amp;it=4&amp;iv=5&amp;r=https%3A%2F%2Fapps.pycogroup.com%2Fdocs%2Fdisplay%2FTRAINING%2F2018-03-19%2B-%2BAEM%2B6.0%2BTraining%2B-%2BTong%2BPham&amp;eurl=https%3A%2F%2Fwww.hotelsbarriere.com%2Fen%2Four-activities.html&amp;rndm=810065429083277.6"></script>
<script async="" defer="" src="//go.flx1.com/ia?id=16429&amp;m=4&amp;it=4&amp;iv=10&amp;r=https%3A%2F%2Fapps.pycogroup.com%2Fdocs%2Fdisplay%2FTRAINING%2F2018-03-19%2B-%2BAEM%2B6.0%2BTraining%2B-%2BTong%2BPham&amp;eurl=https%3A%2F%2Fwww.hotelsbarriere.com%2Fen%2Four-activities.html&amp;rndm=139821011040719.42"></script>
<script async="" defer="" src="//go.flx1.com/ia?id=16429&amp;m=4&amp;it=8&amp;iv=10&amp;r=https%3A%2F%2Fapps.pycogroup.com%2Fdocs%2Fdisplay%2FTRAINING%2F2018-03-19%2B-%2BAEM%2B6.0%2BTraining%2B-%2BTong%2BPham&amp;eurl=https%3A%2F%2Fwww.hotelsbarriere.com%2Fen%2Four-activities.html&amp;rndm=5580338683567889"></script>
<script async="" defer="" src="//go.flx1.com/ia?id=16429&amp;m=4&amp;it=4&amp;iv=20&amp;r=https%3A%2F%2Fapps.pycogroup.com%2Fdocs%2Fdisplay%2FTRAINING%2F2018-03-19%2B-%2BAEM%2B6.0%2BTraining%2B-%2BTong%2BPham&amp;eurl=https%3A%2F%2Fwww.hotelsbarriere.com%2Fen%2Four-activities.html&amp;rndm=6843967262080684"></script>
<script async="" defer="" src="//go.flx1.com/ia?id=16429&amp;m=4&amp;it=4&amp;iv=30&amp;r=https%3A%2F%2Fapps.pycogroup.com%2Fdocs%2Fdisplay%2FTRAINING%2F2018-03-19%2B-%2BAEM%2B6.0%2BTraining%2B-%2BTong%2BPham&amp;eurl=https%3A%2F%2Fwww.hotelsbarriere.com%2Fen%2Four-activities.html&amp;rndm=3911912723324018"></script>
