<img alt="header" src="/etc/designs/companyproject/clientlib-all/img/data/header.png" style="height: auto; width: 100%;">
<div class="main-container m58 hotel-color">
	<sly data-sly-include="/apps/companyproject/components/content/breadcrumb/breadcrumb.html" data-sly-unwrap />
	<div id="js_ajax_injection">
		<div>
			<sly data-sly-resource="par" data-sly-unwrap/>
		</div>
		<div>
			<sly data-sly-resource="${'mpg_component' @ resourceType='/apps/companyproject/components/content/mpg_component'}"/>
		</div>
	</div>
</div>
<img alt="footer" src="/etc/designs/companyproject/clientlib-all/img/data/footer.png" style="height: auto; width: 100%;">