<sly data-sly-test="${wcmmode.edit || wcmmode.design}">
	Activities component
</sly>

<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='cq.authoring.dialog'}" data-sly-unwrap/>

<sly data-sly-use.pagePropertiesObject="com.adobe.trainning.core.core.component.PageProperties">
	<div class="module margin-bottom-xs">
		<div class="block-nav-envy">
			<div class="block-envy">
				<div class="filter-tab"></div>
				<ul class="scroll-container">
					<sly data-sly-list="${pagePropertiesObject.pageList}">
						<li class="navigation-icon">
							<a data-scrollto="equitation" class="JS_toggler">
								<i class="icon "></i><span>${item.name}</span>
							</a>
						</li>
					</sly>
				</ul>
			</div>
		</div>
	</div>
	<span class="sparkle margin-bottom-xxs"></span>
	<sly data-sly-test="${pagePropertiesObject.pagePropertiesModel.name}">
		<div class="module activity-news margin-bottom-xs">
			<h2 class="title margin-bottom-xs" id="equitation">${pagePropertiesObject.pagePropertiesModel.name}</h2>
			<div class="block-trombi-major inner-medium block-vam margin-bottom-very-small block-copyright">
				<div class="bloc-description block-vam-col" style="background: #231f20; color: #fff;">
					<h2 class="title-name">${pagePropertiesObject.pagePropertiesModel.title}</h2>
					<p class="description">${pagePropertiesObject.pagePropertiesModel.description}</p>
					<a class="cta" style="background: #231f20; color: #fff; margin-top: 40px;" href="${pagePropertiesObject.pagePropertiesModel.pagePath}.html">
						discover<i style="background: #231f20; color: #fff;" class="icon-arrow"></i>
					</a>
				</div>
				<div class="bloc-picture block-vam-col">
					<img src="${pagePropertiesObject.pagePropertiesModel.image}" alt="${pagePropertiesObject.pagePropertiesModel.name}">
				</div>
			</div>
		</div>
	</sly>
</sly>


