<sly data-sly-use.imageText="com.adobe.trainning.core.core.component.Image">
	<div class="m23 m-popin-gallery">
		<div class="module m35 margin-bottom-large">
			<div class="bandeau-cover">
				<div class="slider-wrapper">
					<div class="home-carousel-cover ">
						<div class="block-hotel-cover">
							<picture data-alt="${imageText.imageModel.title}" data-default-src="${imageText.imageModel.path}">
								<img src="${imageText.imageModel.path}" alt="${imageText.imageModel.title}">
							 </picture>
							<div class="pattern"></div>
							<div class="block-item-vam">
								<div class="block-vam">
									<div class="block-vam-col">
										<h1 class="title">${imageText.imageModel.title}</h1>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</sly>
