<div class="m23 m-popin-gallery">
	<div class="module m35 margin-bottom-large">
		<div class="bandeau-cover">
			<div class="slider-wrapper">
				<div class="home-carousel-cover ">
					<div class="block-hotel-cover">
						<picture data-alt="Hippisme" data-default-src="${properties.image}">
							<img src="${properties.image}" alt="Hippisme">
						 </picture>
						<div class="pattern"></div>
						<div class="block-item-vam">
							<div class="block-vam">
								<div class="block-vam-col">
									<h1 class="title">${properties.text}</h1>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





